@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Lato:ital,wght@0,700;1,400&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&display=swap');

* {
    margin: 0;
    padding: 0;
}

.fs1 {
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

.left {
    width: 50vw;
}

.left-item {
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.navbar {
    height: 90px;
    font-size: larger;
    padding-inline: 10px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.item-div {
    display: flex;
    align-items: center;
}

.nav-item {
    padding-inline: 2vw;
    font-weight: 700;
    list-style: none;
    display: flex;
    justify-content: center;
    /* margin-inline: 50px; */
}

.contact-button {
    letter-spacing: 1px;
    width: 35%;
    color: black;
    background-color: white;
    border-radius: 0;
}

.contact-button:hover {
    color: white;
    background-color: #B68769;
    border: 1px solid white;
}

.top {
    margin-top: 90px;
    display: flex;
    background-color: #B68769;
    height: calc(100vh - 100px);
}



.right {
    width: 50vw;
    /* Assuming this is what w-50 represents */
    height: 100%;
    /* Set the height you need */
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    /* To ensure the image doesn't overflow the div */
}

/* .right img {
    width: 50%;
    height: calc(100vh - 90px);
    object-fit: cover;
    }
    /* To maintain aspect ratio and cover the div */

.fs {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', Verdana, sans-serif;
    font-size: 50px;
    font-weight: 600;
}

.fs1 {
    font-size: 50px;
    font-weight: 350;
}



.model {
    height: 550vh;
    background-color: #FEECD4;

}

.bg {
    z-index: 1;
    left: 16vh;
    position: relative;
    width: 29%;
    height: 11%;
    background-color: #B68769;
    bottom: 45vh;
}

.listitems {
    margin-right: 3vw !important;
}

.logo {
    margin-left: 3vw;
}

.mdl1 {
    position: relative;
    margin-left: auto;
    /* height: 20%; */

    z-index: 1;
    width: 35%;
}

.mdl1 img {
    height: auto;
    max-width: 100%;
}

.mdl2 {
    width: 36%;
}

.mdl2 img {
    top: -127vh;
    left: 25vh;
    max-width: 100%;
    position: relative;
    z-index: 2;
}

.mdl3 {
    position: relative;
    margin-left: auto;
    z-index: 2;
    max-width: 25%;
}

.mdl3 img {
    width: 100%;
    position: relative;
    bottom: 150vh;
    right: 25vh;
}

.mdl4 {
    width: 30%;
}

.mdl4 img {
    position: relative;
    bottom: 215vh;
    width: 100%;
    left: 10vh;
}

.mdl5 {
    width: 30%;
}

.mdl5 img {
    position: relative;
    width: 100%;
    left: 120vh;
    bottom: 250vh;
}

.mdl6 {
    width: 30%;
}

.mdl6 img {
    position: relative;
    width: 100%;
    left: 30vh;
    bottom: 282vh
}

.product1 {
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    right: 50vh;
    z-index: 2;
    top: -25vh;
    margin-left: auto;
    position: relative;
    height: 50vh;
    max-width: 18%;
}

.product1 img {
    height: 100%;
    width: 100%;
    border-radius: 10px;
}

.carousel {
    position: relative;
    max-width: 100%;


}

.product1 img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: opacity 0.5s ease;
}

.product2 img {
    background-color: white;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    border-radius: 10px;

    transition: opacity 0.5s ease;
}

.product1 .image1 {
    opacity: 1;
}

.product1 .image2 {
    opacity: 0;
}

.product1:hover .image1 {
    opacity: 0;
}

.product1:hover .image2 {
    opacity: 1;
}

.product2 .image1 {
    opacity: 1;
}

.product2 .image2 {
    opacity: 0;
}

.product2:hover .image1 {
    opacity: 0;
}

.product2:hover .image2 {
    opacity: 1;
}


.product2 {
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    width: 19%;
    position: relative;
    z-index: 3;
    top: -145vh;
    border-radius: 10px;
    left: 75vh;
    height: 40vh;
}



.product3 {
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    right: 50vh;
    z-index: 2;
    bottom: 175vh;
    right: 10vh;
    margin-left: auto;
    position: relative;
    height: 50vh;
    max-width: 18%;
    border-radius: 10px;
}

.product3 img {
    max-width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 10px;
    height: 100%;
    transition: opacity 0.5s ease;
}

.product3 .image1 {
    opacity: 1;
}

.product3 .image2 {
    opacity: 0;
}

.product3:hover .image1 {
    opacity: 0;
}

.product3:hover .image2 {
    opacity: 1;
}


.product4 {
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    z-index: 2;
    left: 50vh;
    bottom: 235vh;
    position: relative;
    height: 46vh;
    max-width: 15%;
    border-radius: 10px;
}

.product4 img {
    max-width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 10px;
    height: 100%;
    transition: opacity 0.5s ease;
}

.product4 .image1 {
    opacity: 1;
}

.product4 .image2 {
    opacity: 0;
}

.product4:hover .image1 {
    opacity: 0;
}

.product4:hover .image2 {
    opacity: 1;
}


.product5 {
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    z-index: 2;
    left: 162vh;
    bottom: 277vh;
    position: relative;
    height: 42vh;
    max-width: 17%;
    border-radius: 10px;
}

.product5 img {
    max-width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 10px;
    height: 100%;
    transition: opacity 0.5s ease;
}

.product5 .image1 {
    opacity: 1;
}

.product5 .image2 {
    opacity: 0;
}

.product5:hover .image1 {
    opacity: 0;
}

.product5:hover .image2 {
    opacity: 1;
}

.product6 {
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    z-index: 2;
    left: 20vh;
    bottom: 300vh;
    position: relative;
    height: 42vh;
    max-width: 16%;
    border-radius: 10px;
}

.product6 img {
    max-width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 10px;
    height: 100%;
    transition: opacity 0.6s ease;
}

.product6 .image1 {
    opacity: 1;
}

.product6 .image2 {
    opacity: 0;
}

.product6:hover .image1 {
    opacity: 0;
}

.product6:hover .image2 {
    opacity: 1;
}


.treat {
    position: relative;
    font-family: "Alex Brush", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 12vh;
    z-index: 4;
    display: inline-block;
    transform: rotate(-20deg);
    top: -80vh;
    left: 35vh;
    color: saddlebrown;
}

.maintain {
    position: relative;
    font-family: "Alex Brush", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 12vh;
    left: 135vh;
    bottom: 78vh;
    z-index: 4;
    display: inline-block;
    transform: rotate(-20deg);
    color: saddlebrown;

}

.protect {
    position: relative;
    font-family: "Alex Brush", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 12vh;
    z-index: 4;
    display: inline-block;
    transform: rotate(-20deg);
    bottom: 237vh;
    left: 35vh;
    color: saddlebrown;

}

.jadi {
    position: relative;
    font-family: "Alex Brush", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 12vh;
    z-index: 4;
    display: inline-block;
    transform: rotate(-20deg);
    color: saddlebrown;
    left: 115vh;
    bottom: 280vh;
}

.saffron {
    position: relative;
    font-family: "Alex Brush", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 12vh;
    z-index: 4;
    display: inline-block;
    transform: rotate(-20deg);
    color: saddlebrown;
    bottom: 327vh;
}

.banana {
    position: relative;
    font-family: "Alex Brush", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 12vh;
    z-index: 4;
    display: inline-block;
    transform: rotate(-20deg);
    color: saddlebrown;
    bottom: 360vh;
    left: 90vh;
}

.container {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    /* Ensure the container hides overflow */
}

.scanning-container {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
}

.image {
    position: absolute;
    right: 107%;
    visibility: hidden;
    width: 100%;
    height: 100%;
    object-fit: fill;
    /* Ensure the image fits well */
    transition: right 1s ease-in-out;
}

.scale-up {
    right: 0 !important;
    visibility: visible !important;
}


/* .scale-up {
    animation: scale-up .5s ease-in;
} */

/* @keyframes scale-up {
    0% {
        transform: scale(1.5);

    }

    25% {
        transform: scale();
    }

    50% {
        transform: scale(0.4);

    }

    100% {
        transform: scale(1);
    }


} */

@keyframes pop {
    0% {
        transform: scale(1.5);
        opacity: 0;
    }

    25% {
        opacity: 0.25;
    }

    50% {
        transform: scale(0.4);
        opacity: 0.5;
    }

    100% {
        transform: scale(1);
    }
}

.texts p {
    display: none;
    margin-inline: auto;
}

.texts p.active {
    transform-origin: center;
    animation: pop 0.5s ease-out;
    display: block;
}

.item-link:hover {
    color: white !important;
    background-color: #be8f65;

}

.btnn {
    cursor: pointer;

    color: #fff;
    background: rgb(154, 111, 88);
    background: linear-gradient(111deg, rgba(154, 111, 88, 1) 34%, rgba(84, 48, 30, 1) 50%);
}

.btnn:hover {
    background-color: #2e120f;
    color: #fff;
}

.icon {
    width: 50px;
    height: 50px;
    fill: #000;
    /* Default fill color */
}



@media (max-width: 768px) {
    .left {
        width: 100vw !important;
        height: 100vw !important;

    }

    .fs {
        margin-left: -6vw !important;

    }

    .left-item {
        width: 100vw !important;
    }

    .right {
        width: 100vw;
        height: 100vw;
    }

    .three-text {
        display: flex !important;
        justify-content: space-around !important;
        width: 50vh;
    }
}