@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Lato:ital,wght@0,700;1,400&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&display=swap');

* {
    margin: 0;
    padding: 0;
}


.fs1 {
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

.left {
    width: 50vw;
}

.left-item {
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.navbar {
    width: 100vw;
    height: 15vh;
    font-size: larger;
    padding-inline: 10px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.item-div {
    display: flex;
    align-items: center;
}

.nav-item {
    padding-inline: 2vw;
    font-weight: 700;
    list-style: none;
    display: flex;
    justify-content: center;
    /* margin-inline: 50px; */
}

.contact-button {
    letter-spacing: 1px;
    width: 35%;
    color: black;
    background-color: white;
    border-radius: 0;
}

.contact-button:hover {
    color: white;
    background-color: #B68769;
    border: 1px solid white;
}

.top {
    margin-top: 15vh;
    display: flex;
    background-color: #B68769;
    height: calc(100vh - 15vh);
}



.right {
    width: 50vw;
    /* Assuming this is what w-50 represents */
    height: 100%;
    /* Set the height you need */
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    /* To ensure the image doesn't overflow the div */
}

/* .right img {
    width: 50%;
    height: calc(100vh - 90px);
    object-fit: cover;
    }
    /* To maintain aspect ratio and cover the div */

.fs {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', Verdana, sans-serif;
    font-size: 50px;
    font-weight: 600;
}

.fs1 {
    font-size: 50px;
    font-weight: 350;
}



.model {
    position: relative;
    width: 100vw;
    height: 400vh;
    background-color: #FEECD4;

}

.bg {
    z-index: 1;
    left: -10%;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #B68769;
    top: 10%;
}

.listitems {
    margin-right: 3vw !important;
}

.logo {
    margin-left: 3vw;
}



.mdl1 {
    position: relative;
    margin-left: auto;
    width: 30vw;
    height: auto;
}

.model1 {
    width: 100%;
    height: auto;
}

.product1 {
    opacity: 1;
    width: 12vw;
    border-radius: 5px;

    position: absolute;
    height: auto;
    top: 55%;
    left: -15%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

}

.product1-img2 {
    z-index: 1;
    opacity: 0;
    width: 12vw;
    border-radius: 5px;

    position: absolute;
    height: auto;
    top: 55%;
    left: -15%;
    transition: opacity 0.5s ease;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

}

.product1:hover {
    opacity: 0;
    z-index: 1;
}

.product1-img2:hover {
    opacity: 1;
    z-index: 2;

}


.mdl2 {
    margin-left: 5vw;
    margin-top: 10vw;
    width: 33vw;
    position: relative;
    height: auto;
}

.model2 {
    position: relative;
    z-index: 2;
    width: 100%;
    height: auto;
}

.product2 {
    opacity: 1;
    width: 15vw;
    border-radius: 5px;
    z-index: 2;
    position: absolute;
    height: auto;
    top: 65%;
    right: -20%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.product2-img2 {
    opacity: 0;
    width: 15vw;
    border-radius: 5px;
    z-index: 2;
    position: absolute;
    height: auto;
    top: 65%;
    right: -20%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.product2:hover {
    opacity: 0;
    z-index: 1;
}

.product2-img2:hover {
    opacity: 1;
    z-index: 2;

}

.mdl3 {
    margin-top: 5vw;
    width: 33vw;
    position: relative;
    height: auto;
    margin-left: auto;
}

.model3 {
    height: auto;
    width: 100%;
}

.product3 {
    opacity: 1;
    width: 13vw;
    border-radius: 5px;
    z-index: 2;
    position: absolute;
    height: auto;
    top: 65%;
    left: -20%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.product3-img2 {
    opacity: 0;
    width: 13vw;
    border-radius: 5px;
    z-index: 1;
    position: absolute;
    height: auto;
    top: 65%;
    left: -20%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.product3:hover {
    opacity: 0;

}

.product3-img2:hover {
    opacity: 1;
    z-index: 2;

}



.mdl4 {
    margin-top: 5vh;
    position: relative;
    width: 30vw;
    height: auto;
}

.model4 {
    width: 100%;
    height: auto;
}

.product4 {
    opacity: 1;
    width: 13vw;
    border-radius: 5px;
    z-index: 2;
    position: absolute;
    height: auto;
    top: 65%;
    right: -20%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.product4-img2 {
    opacity: 0;
    width: 13vw;
    border-radius: 5px;
    z-index: 1;
    position: absolute;
    height: auto;
    top: 65%;
    right: -20%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.product4:hover {
    opacity: 0;

}

.product4-img2:hover {
    opacity: 1;
    z-index: 2;

}



.mdl5 {
    margin-top: 5vh;
    margin-left: auto;
    position: relative;
    width: 30vw;
    height: auto;
}

.model5 {
    width: 100%;
    height: auto;
}

.product5 {
    opacity: 1;
    width: 15vw;
    border-radius: 5px;
    z-index: 2;
    position: absolute;
    height: auto;
    top: 65%;
    left: -20%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.product5-img2 {
    opacity: 0;
    width: 15vw;
    border-radius: 5px;
    z-index: 1;
    position: absolute;
    height: auto;
    top: 65%;
    left: -20%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.product5:hover {
    opacity: 0;

}

.product5-img2:hover {
    opacity: 1;
    z-index: 2;

}



.mdl6 {
    margin-top: 5vh;

    position: relative;
    width: 25vw;
    height: auto;
}

.model6 {
    width: 100%;
    height: auto;
}

.product6 {
    opacity: 1;
    width: 15vw;
    border-radius: 5px;
    z-index: 2;
    position: absolute;
    height: auto;
    top: 65%;
    right: -20%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.product6-img2 {
    opacity: 0;
    width: 15vw;
    border-radius: 5px;
    z-index: 1;
    position: absolute;
    height: auto;
    top: 65%;
    right: -20%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.product6:hover {
    opacity: 0;

}

.product6-img2:hover {
    opacity: 1;
    z-index: 2;

}

.image3 {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

    border-radius: 10px;
    position: relative;
    background-color: white;
    text-align: justify;
    color: #5c3a1e;
    height: 100%;
    padding: 5%;
}





/* .product2 img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    border-radius: 10px;
    transition: opacity 0.5s ease;
}



.product2 .image1 {
    opacity: 1;
}

.product2 .image2 {
    opacity: 0;

    position: absolute;
}

.product2:hover .image1 {
    opacity: 0;
}

.product2:hover .image2 {
    opacity: 1;

}

.product2:hover {
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
} */



/* .product2 {
    width: 17%;
    position: absolute;
    z-index: 3;
    top: 110vh;
    border-radius: 10px;
    left: 69vh;
    height: 36vh;
}
 */


/* .product3 {
    right: 60vh;
    z-index: 2;
    top: 173vh;
    width: 14vw;
    position: absolute;
    height: 29vh;

    border-radius: 10px;
}

.product3 img {

    position: absolute;
    top: 0;
    left: 0;
    border-radius: 10px;
    height: 29vh;
    transition: opacity 0.5s ease;
}

.product3 .image1 {
    opacity: 1;
}

.product3 .image2 {
    opacity: 0;
    position: absolute;
}

.product3:hover .image1 {
    opacity: 0;
}

.product3:hover .image2 {
    opacity: 1;

}

.product3:hover {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background-color: white;

}



.product4 {
    z-index: 2;
    left: 55vh;
    top: 233vh;
    position: absolute;
    height: 35vh;

    border-radius: 10px;
}

.product4 img {
    width: 100%;

    top: 0;
    left: 0;
    border-radius: 10px;
    height: 100%;
    transition: opacity 0.5s ease;
}

.product4 .image1 {
    opacity: 1;
}

.product4 .image2 {
    opacity: 0;
    position: absolute;
}

.product4:hover .image1 {
    opacity: 0;
}

.product4:hover .image2 {
    opacity: 1;
}

.product4:hover {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

    background-color: white;

}



.product5 {
    top: 110vh;
    z-index: 2;
    right: 50vh;
    top: 292vh;
    position: absolute;
    height: 30vh;

    border-radius: 10px;
}

.product5 img {


    top: 0;
    left: 0;
    border-radius: 10px;
    height: 30vh;
    transition: opacity 0.5s ease;
}

.product5 .image1 {
    opacity: 1;
}

.product5 .image2 {
    opacity: 0;
    position: absolute;
}

.product5:hover .image1 {
    opacity: 0;
}

.product5:hover .image2 {
    opacity: 1;
}

.product5:hover {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

    background-color: white;
}


.product6 {

    z-index: 2;
    left: 45vh;
    top: 357vh;
    position: absolute;
    height: 34vh;

    border-radius: 10px;
}

.product6 img {
    width: 100%;

    top: 0;
    left: 0;
    border-radius: 10px;
    height: 100%;
    transition: opacity 0.6s ease;
}

.product6 .image1 {
    opacity: 1;
}

.product6 .image2 {
    opacity: 0;
    position: absolute;
}

.product6:hover .image1 {
    opacity: 0;
}

.product6:hover .image2 {
    opacity: 1;
}

.product6:hover {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

    background-color: white;
} */



.manjishtha {
    position: absolute;
    font-family: "Alex Brush", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 6vw;
    z-index: 4;
    display: inline-block;
    transform: rotate(-20deg);
    top: 50%;
    left: -170%;
    color: saddlebrown;
}

.maintain {
    white-space: nowrap;
    position: absolute;
    font-family: "Alex Brush", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 6vw;
    left: 150%;
    top: 25%;
    z-index: 4;
    display: inline-block;
    transform: rotate(-20deg);
    color: saddlebrown;

}

.saffron {
    position: absolute;
    font-family: "Alex Brush", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 6vw;
    z-index: 4;
    display: inline-block;
    transform: rotate(-20deg);
    top: 30%;
    left: -195%;
    color: saddlebrown;

}

.jadi {
    position: absolute;
    font-family: "Alex Brush", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 6vw;
    z-index: 4;
    display: inline-block;
    transform: rotate(-20deg);
    color: saddlebrown;
    left: 150%;
    top: 25%;
    white-space: nowrap;
}

.banana {
    position: absolute;
    font-family: "Alex Brush", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 6vw;
    z-index: 4;
    display: inline-block;
    transform: rotate(-20deg);
    color: saddlebrown;
    top: 25%;
    left: -210%;
    white-space: nowrap;
}

.panch {
    position: absolute;
    font-family: "Alex Brush", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 6vw;
    z-index: 4;
    display: inline-block;
    transform: rotate(-20deg);
    color: saddlebrown;
    top: 25%;
    left: 160%;
    white-space: nowrap;
}

.all {
    margin-inline: 5vw;


}

.gmp {
    font-family: emoji;
}

.category img {
    margin-left: 3vw;
    width: 18vw;
    margin-bottom: 5vh;
}

.container {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    /* Ensure the container hides overflow */
}

.scanning-container {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
}

.image {
    position: absolute;
    right: 107%;
    visibility: hidden;
    width: 100%;
    height: 100%;
    object-fit: fill;
    /* Ensure the image fits well */
    transition: right 1s ease-in-out;

}

.scale-up {
    right: 0 !important;
    visibility: visible !important;
}


/* .scale-up {
    animation: scale-up .5s ease-in;
} */

/* @keyframes scale-up {
    0% {
        transform: scale(1.5);

    }

    25% {
        transform: scale();
    }

    50% {
        transform: scale(0.4);

    }

    100% {
        transform: scale(1);
    }


} */

.nav-tab ul {
    font: bold 14px/1.4 'Open Sans', arial, sans-serif;
    margin: 3vh auto;
    padding: 0;
    list-style: none;
    display: table;
    width: 600px;
    text-align: center;
}

.nav-tab li {
    display: table-cell;
    position: relative;
    padding: 15px 0;
    cursor: pointer;
}

.nav-tab a {
    font-size: large;
    text-decoration: none;
    color: #000;
    display: block;
    position: relative;
    padding: 0.2em 0;
}

.nav-tab a.active {
    font-weight: bold;
    color: #000;
}

/* Fade in */
.nav-tab a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0.1em;
    background-color: black;
    opacity: 0;
    transition: opacity 300ms, transform 300ms;
}

/* 
.nav-tab a:hover::after,
.nav-tab a:focus::after,
.nav-tab a.active::after {
    opacity: 1;
    transform: translate3d(0, 0.2em, 0);
} */

/* Slide in */
/* li:nth-child(2) a {
    overflow: hidden;
}

li:nth-child(2) a::after {
    opacity: 1;
    transform: translate3d(-100%, 0, 0);
}

li:nth-child(2) a:hover::after,
li:nth-child(2) a:focus::after {
    transform: translate3d(0, 0, 0);
} */

/* Scale from center */
.nav-tab a::after {
    opacity: 1;
    transform: scale(0);
    transform-origin: center;
}

.nav-tab a:hover::after,
.nav-tab a:focus::after {
    transform: scale(1);
}


.hidden {
    display: none;
}

.show {
    display: block !important;
    z-index: 10;
}



@keyframes before8 {
    0% {
        width: 0.5em;
        box-shadow: 1em -0.5em rgba(225, 20, 98, 0.75), -1em 0.5em rgba(111, 202, 220, 0.75);
    }

    35% {
        width: 2.5em;
        box-shadow: 0 -0.5em rgba(225, 20, 98, 0.75), 0 0.5em rgba(111, 202, 220, 0.75);
    }

    70% {
        width: 0.5em;
        box-shadow: -1em -0.5em rgba(225, 20, 98, 0.75), 1em 0.5em rgba(111, 202, 220, 0.75);
    }

    100% {
        box-shadow: 1em -0.5em rgba(225, 20, 98, 0.75), -1em 0.5em rgba(111, 202, 220, 0.75);
    }
}

@keyframes after6 {
    0% {
        height: 0.5em;
        box-shadow: 0.5em 1em rgba(61, 184, 143, 0.75), -0.5em -1em rgba(233, 169, 32, 0.75);
    }

    35% {
        height: 2.5em;
        box-shadow: 0.5em 0 rgba(61, 184, 143, 0.75), -0.5em 0 rgba(233, 169, 32, 0.75);
    }

    70% {
        height: 0.5em;
        box-shadow: 0.5em -1em rgba(61, 184, 143, 0.75), -0.5em 1em rgba(233, 169, 32, 0.75);
    }

    100% {
        box-shadow: 0.5em 1em rgba(61, 184, 143, 0.75), -0.5em -1em rgba(233, 169, 32, 0.75);
    }
}


.email {
    height: 45vh;
    background-color: #FEECD4;
    margin-top: 5vh;
    align-items: center;
}

.input-container {
    display: flex;
    border: 1px solid #000;
    overflow: hidden;
    width: 32vw;
    height: 7vh;
}

.send-button {
    padding-inline: 12%;
    background-color: #000;
    color: white;
    border: none;
    border-left: 1px solid black;
}

.send-button:hover {
    color: black;
    background-color: transparent;
}

.email-input {
    flex: 1;
    padding: 10px;
    border: none;
    outline: none;
    font-size: 14px;
    background-color: #f5e6ff;
}

.collage {
    height: 86vh;
    width: 98vw;
}

.collage img {
    width: 100%;
}

.upper {
    height: 30vh;
    margin-bottom: 3.3vh;
}

.mid {
    height: 30vh;
}

.lower {
    height: 30vh;
    margin-top: 3.3vh;
}


.img1,
.img2,
.img3 {
    width: 27vw;
    height: 30vh;
}

.img1 img,
.img2 img,
.img3 img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.midimg,
.midimg img {
    height: 100%;
}

.footer {
    padding-top: 10vh;
    height: 90vh;
    background-color: #000;
}

.foot-logo {
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.foot-logo hr {
    border: none;
    border-top: 1px solid white;
    width: 36%;
    opacity: 1;
}

.foot-logo img {
    height: 100%;
}


.footer-sections {
    justify-content: flex-start;
    padding-top: 10vh;
}

.contact-info {
    text-align: center;
    padding-inline: 15vw;
}

.contact-info p {
    margin-bottom: 0;
}

.poproducts {
    width: 50vw;
}


.poptext {
    margin-inline: 2vh;
}

.pro-heading {
    display: flex;

}

.pro-heading hr {
    border: none;
    border-top: 1px solid white;
    width: 15%;
    opacity: 1;
}

.pros {
    justify-content: center;
    width: 60%;
    display: flex;
}

.pro1 {
    margin-right: 15vh;
}

.pro2 {
    margin-left: 15vh;
}

.socials {
    margin-top: 3vh;
    display: flex;
    justify-content: center;
    text-align: center;
}

.socials p {
    margin-right: 5vh;
}


.bottom hr {
    margin-inline: auto;
    margin-top: 6vh;
    border: none;
    border-top: 1px solid white;
    width: 80%;
    opacity: 1;

}


.label {
    width: 80%;
    margin-inline: auto;
}

@media screen and (max-height: 300px) {
    ul {
        margin-top: 40px;
    }
}


@keyframes pop {
    0% {
        transform: scale(1.5);
        opacity: 0;
    }

    25% {
        opacity: 0.25;
    }

    50% {
        transform: scale(0.4);
        opacity: 0.5;
    }

    100% {
        transform: scale(1);
    }
}

.texts p {
    display: none;
    margin-inline: auto;
}

.texts p.active {
    transform-origin: center;
    animation: pop 0.5s ease-out;
    display: block;
}

.item-link:hover {
    border-radius: 5px;
    color: white !important;
    background-color: #be8f65;

}


.btnn {
    background-image: radial-gradient(at top left, #B68769 20%, #513317 86%);
    padding: 5px 15px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 100% auto;
    color: white;
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: block;
}

.btnn {
    background-position: right center;
    /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}

.btnn:hover {
    color: white;

}

.quote {
    text-decoration: none;
    color: white;
}

.icon {
    width: 50px;
    height: 50px;
    fill: #000;
    /* Default fill color */
}


/* @media (max-width: 1025px) {
    .top {
        height: 45vh;
    }

    .left {
        height: 35vh;
    }

    .fs {
        font-size: 37px;
    }

    .centerit {
        width: 55vw;
        justify-content: center;
    }

    .model {
        position: relative;
        width: 100vw;
    }



    .mdl2 img {
        max-width: 38%;
        top: 65vh;
        left: 10vw;
    }

    .bg {
        top: 70vh;
        left: 2vw;
        height: 30vh;
        width: 40%;
    }

    .mdl3 img {
        width: 40%;
        right: 5vw;
        top: 110vh;
    }

    .mdl4 img {
        top: 150vh;
        left: 0;
        width: 40%;
    }

    .mdl5 img {
        width: 40%;
        top: 200vh;
        right: 0;
    }

    .mdl6 img {
        width: 40%;
        top: 250vh;
        left: 5vh;
    }



    .product2 {
        height: 20vh;
        top: 88vh;
        width: 18vw;
        left: 40vh;
    }

    .product3 {
        height: 20vh;
        width: 20vw;
        top: 129vh;
        right: 36vh;
    }

    .product3 img {
        height: 22vh;
        width: 20vw;
    }

    .product4 {
        top: 180vh;
        left: 31vh;
        height: 15vh;
    }

    .product4 img {
        height: 28vh;
        width: 18vw;
    }

    .product5 {
        top: 229vh;
        right: 22vw;
        width: 27%;
        height: 18vh;
    }

    .product5 img {
        height: 26vh;
        width: 24vw;
    }

    .product6 {
        top: 284vh;
        height: 27vh;
        width: 25vw;
        left: 30vw;
    }

    .manjishtha {
        font-size: 6vh;
        top: 25vh;
        left: 8vw;
    }

    .maintain {
        left: 59vw;
        top: 71vh;
        font-size: 6vh;
    }

    .saffron {
        font-size: 6vh;
        top: 121vh;
        left: 0;
    }

    .jadi {
        top: 166vh;
        left: 60vw;
        font-size: 6vh;
    }

    .banana {
        bottom: 85vh;
        left: 4vw;
        font-size: 6vh;
    }

    .panch {
        left: 60vw;
        bottom: 40vh;
        font-size: 6vh;
    }

    .model {
        height: 315vh;
    }

    .collage {
        height: 43vh;
    }

    .footer {
        height: 73vh;
    }
} */

@media (max-width: 680px) {
    .top {
        flex-wrap: wrap;
        height: 100vh;
    }

    .left {
        width: 100vw;
        height: 50vh;
    }

    .right {
        width: 100vw;
        height: 50vh;
    }


}